@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

/* header */

header a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    margin-bottom: 150px;
}

.header__left-side a {
    font-weight: 500;
    font-size: 32px;
}

.header__right-side {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.header__right-side a {
    align-items: center;
    font-size: 15px;
    padding: 10px 15px;
}

.header__background {
    background-image: url(/src/img/header-background.jpg);
    background-size: cover;
}

/* header__under-header */

.header__under-header {
    color: white;
    padding-bottom: 210px;
}

.header__under-header-title {
    font-size: 96px;
    margin-bottom: 30px;
    font-weight: 600;
}

.header__under-header-text {
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: 400;
}

.header__under-header-btn {
    text-decoration: none;
    margin-top: 50px;
    background-color: white;
    color: black;
    padding: 20px 60px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    border-radius: 2px;
}